.container {
  display: flex;
}
.section-1 {
  flex: 50% 1;
  padding: 2rem;
}
.section-2 {
  background: #e6ebff;
  flex: 50% 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.form-header {
  position: absolute;
  top: 10%;
}
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}
