.container {
  display: flex;
}
.section-1 {
  flex: 50% 1;
}
.pad {
  padding: 2rem;
}
.section-2 {
  background: #f3f4f8;
  flex: 50% 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.form-heading {
  position: absolute;
  top: 10%;
  font-size: 2rem;
  letter-spacing: 2px;
}
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  width: 100%;
  margin-top: 4rem;
}
.forgot-password {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  position: absolute;
  top: 41%;
  left: 56.5%;
}
